
/venv
/visualisation_app/backend/node_modules
/visualisation_app/frontend/node_modules

visualisation_app/frontend/.DS_Store
.DS_Store
visualisation_app/backend/.DS_Store
*.vtp
combined_plots_refined.html
correlation_matrix_disable_timestep_1000000.html
correlation_matrix_disable_timestep_1000000.png
correlation_matrix_disable_timestep_30000.html
correlation_matrix_no-network_timestep_1000000.html
plots/combined_box_and_parallel_step_700.html
plots/No_Network_step_10000.html
plots/No_Network_step_100000.html
plots/No_Network_step_700.html
plots/No_Network_step_7000.html
plots/No_Network_step_9999.html
plots/No_Network_step_999900.html
visualisation_app/.DS_Store
visualisation_app/backend/.DS_Store
visualisation_app/backend/scripts/export_vtk_all.py
combined_plots_refined.html
correlation_matrix_disable_timestep_1000000.png
plots/combined_box_and_parallel_step_700.html
visualisation_app/.DS_Store
visualisation_app/backend/.DS_Store
visualisation_app/backend/scripts/export_vtk_all.py
combined_plots_refined.html
correlation_matrix_disable_timestep_1000000.png
visualisation_app/backend/scripts/export_vtk_all.py
visualisation_app/backend/scripts/export_vtk_all.py
visualisation_app/backend/uploads/calcium/plots/plot2_210000.html
visualisation_app/backend/uploads/calcium/plots/plot2_220000.html
visualisation_app/backend/uploads/calcium/plots/plot2_230000.html
visualisation_app/backend/uploads/calcium/plots/plot2_240000.html
visualisation_app/backend/uploads/calcium/plots/plot2_250000.html
visualisation_app/backend/uploads/calcium/plots/plot2_260000.html
visualisation_app/backend/uploads/calcium/plots/plot2_270000.html
visualisation_app/backend/uploads/calcium/plots/plot2_280000.html
visualisation_app/backend/uploads/calcium/plots/plot2_290000.html
visualisation_app/backend/uploads/calcium/plots/plot2_30000.html
visualisation_app/backend/uploads/calcium/plots/plot2_300000.html
visualisation_app/backend/uploads/calcium/plots/plot2_310000.html
visualisation_app/backend/uploads/calcium/plots/plot2_320000.html
visualisation_app/backend/uploads/calcium/plots/plot2_330000.html
visualisation_app/backend/uploads/calcium/plots/plot2_340000.html
visualisation_app/backend/uploads/calcium/plots/plot2_350000.html
visualisation_app/backend/uploads/calcium/plots/plot2_360000.html
visualisation_app/backend/uploads/calcium/plots/plot2_370000.html
visualisation_app/backend/uploads/calcium/plots/plot2_380000.html
visualisation_app/backend/uploads/calcium/plots/plot2_390000.html
visualisation_app/backend/uploads/calcium/plots/plot2_40000.html
visualisation_app/backend/uploads/calcium/plots/plot2_400000.html
visualisation_app/backend/uploads/calcium/plots/plot2_410000.html
visualisation_app/backend/uploads/calcium/plots/plot2_420000.html
visualisation_app/backend/uploads/calcium/plots/plot2_430000.html
visualisation_app/backend/uploads/calcium/plots/plot2_440000.html
visualisation_app/backend/uploads/calcium/plots/plot2_450000.html
visualisation_app/backend/uploads/calcium/plots/plot2_460000.html
visualisation_app/backend/uploads/calcium/plots/plot2_470000.html
visualisation_app/backend/uploads/calcium/plots/plot2_480000.html
visualisation_app/backend/uploads/calcium/plots/plot2_490000.html
visualisation_app/backend/uploads/calcium/plots/plot2_50000.html
visualisation_app/backend/uploads/calcium/plots/plot2_500000.html
visualisation_app/backend/uploads/calcium/plots/plot2_510000.html
visualisation_app/backend/uploads/calcium/plots/plot2_520000.html
visualisation_app/backend/uploads/calcium/plots/plot2_530000.html
visualisation_app/backend/uploads/calcium/plots/plot2_540000.html
visualisation_app/backend/uploads/calcium/plots/plot2_550000.html
visualisation_app/backend/uploads/calcium/plots/plot2_560000.html
visualisation_app/backend/uploads/calcium/plots/plot2_570000.html
visualisation_app/backend/uploads/calcium/plots/plot2_580000.html
visualisation_app/backend/uploads/calcium/plots/plot2_590000.html
visualisation_app/backend/uploads/calcium/plots/plot2_60000.html
visualisation_app/backend/uploads/calcium/plots/plot2_600000.html
visualisation_app/backend/uploads/calcium/plots/plot2_610000.html
visualisation_app/backend/uploads/calcium/plots/plot2_620000.html
visualisation_app/backend/uploads/calcium/plots/plot2_630000.html
visualisation_app/backend/uploads/calcium/plots/plot2_640000.html
visualisation_app/backend/uploads/calcium/plots/plot2_650000.html
visualisation_app/backend/uploads/calcium/plots/plot2_660000.html
visualisation_app/backend/uploads/calcium/plots/plot2_670000.html
visualisation_app/backend/uploads/calcium/plots/plot2_680000.html
visualisation_app/backend/uploads/calcium/plots/plot2_690000.html
visualisation_app/backend/uploads/calcium/plots/plot2_70000.html
visualisation_app/backend/uploads/calcium/plots/plot2_700000.html
visualisation_app/backend/uploads/calcium/plots/plot2_710000.html
visualisation_app/backend/uploads/calcium/plots/plot2_720000.html
visualisation_app/backend/uploads/calcium/plots/plot2_730000.html
visualisation_app/backend/uploads/calcium/plots/plot2_740000.html
visualisation_app/backend/uploads/calcium/plots/plot2_750000.html
visualisation_app/backend/uploads/calcium/plots/plot2_760000.html
visualisation_app/backend/uploads/calcium/plots/plot2_770000.html
visualisation_app/backend/uploads/calcium/plots/plot2_780000.html
visualisation_app/backend/uploads/calcium/plots/plot2_790000.html
visualisation_app/backend/uploads/calcium/plots/plot2_80000.html
visualisation_app/backend/uploads/calcium/plots/plot2_800000.html
visualisation_app/backend/uploads/calcium/plots/plot2_810000.html
visualisation_app/backend/uploads/calcium/plots/plot2_820000.html
visualisation_app/backend/uploads/calcium/plots/plot2_830000.html
visualisation_app/backend/uploads/calcium/plots/plot2_840000.html
visualisation_app/backend/uploads/calcium/plots/plot2_850000.html
visualisation_app/backend/uploads/calcium/plots/plot2_860000.html
visualisation_app/backend/uploads/calcium/plots/plot2_870000.html
visualisation_app/backend/uploads/calcium/plots/plot2_880000.html
visualisation_app/backend/uploads/calcium/plots/plot2_890000.html
visualisation_app/backend/uploads/calcium/plots/plot2_90000.html
visualisation_app/backend/uploads/calcium/plots/plot2_900000.html
visualisation_app/backend/uploads/calcium/plots/plot2_910000.html
visualisation_app/backend/uploads/calcium/plots/plot2_920000.html
visualisation_app/backend/uploads/calcium/plots/plot2_930000.html
visualisation_app/backend/uploads/calcium/plots/plot2_940000.html
visualisation_app/backend/uploads/calcium/plots/plot2_950000.html
visualisation_app/backend/uploads/calcium/plots/plot2_960000.html
visualisation_app/backend/uploads/calcium/plots/plot2_970000.html
visualisation_app/backend/uploads/calcium/plots/plot2_980000.html
visualisation_app/backend/uploads/calcium/plots/plot2_990000.html
visualisation_app/backend/uploads/calcium/plots/plot3_0.html
visualisation_app/backend/uploads/disable/plots/plot2_210000.html
visualisation_app/backend/uploads/disable/plots/plot2_220000.html
visualisation_app/backend/uploads/disable/plots/plot2_230000.html
visualisation_app/backend/uploads/disable/plots/plot2_240000.html
visualisation_app/backend/uploads/disable/plots/plot2_250000.html
visualisation_app/backend/uploads/disable/plots/plot2_260000.html
visualisation_app/backend/uploads/disable/plots/plot2_270000.html
visualisation_app/backend/uploads/disable/plots/plot2_280000.html
visualisation_app/backend/uploads/disable/plots/plot2_290000.html
visualisation_app/backend/uploads/disable/plots/plot2_30000.html
visualisation_app/backend/uploads/disable/plots/plot2_300000.html
visualisation_app/backend/uploads/disable/plots/plot2_310000.html
visualisation_app/backend/uploads/disable/plots/plot2_320000.html
visualisation_app/backend/uploads/disable/plots/plot2_330000.html
visualisation_app/backend/uploads/disable/plots/plot2_340000.html
visualisation_app/backend/uploads/disable/plots/plot2_350000.html
visualisation_app/backend/uploads/disable/plots/plot2_360000.html
visualisation_app/backend/uploads/disable/plots/plot2_370000.html
visualisation_app/backend/uploads/disable/plots/plot2_380000.html
visualisation_app/backend/uploads/disable/plots/plot2_390000.html
visualisation_app/backend/uploads/disable/plots/plot2_40000.html
visualisation_app/backend/uploads/disable/plots/plot2_400000.html
visualisation_app/backend/uploads/disable/plots/plot2_410000.html
visualisation_app/backend/uploads/disable/plots/plot2_420000.html
visualisation_app/backend/uploads/disable/plots/plot2_430000.html
visualisation_app/backend/uploads/disable/plots/plot2_440000.html
visualisation_app/backend/uploads/disable/plots/plot2_450000.html
visualisation_app/backend/uploads/disable/plots/plot2_460000.html
visualisation_app/backend/uploads/disable/plots/plot2_470000.html
visualisation_app/backend/uploads/disable/plots/plot2_480000.html
visualisation_app/backend/uploads/disable/plots/plot2_490000.html
visualisation_app/backend/uploads/disable/plots/plot2_50000.html
visualisation_app/backend/uploads/disable/plots/plot2_500000.html
visualisation_app/backend/uploads/disable/plots/plot2_510000.html
visualisation_app/backend/uploads/disable/plots/plot2_520000.html
visualisation_app/backend/uploads/disable/plots/plot2_530000.html
visualisation_app/backend/uploads/disable/plots/plot2_540000.html
visualisation_app/backend/uploads/disable/plots/plot2_550000.html
visualisation_app/backend/uploads/disable/plots/plot2_560000.html
visualisation_app/backend/uploads/disable/plots/plot2_570000.html
visualisation_app/backend/uploads/disable/plots/plot2_580000.html
visualisation_app/backend/uploads/disable/plots/plot2_590000.html
visualisation_app/backend/uploads/disable/plots/plot2_60000.html
visualisation_app/backend/uploads/disable/plots/plot2_600000.html
visualisation_app/backend/uploads/disable/plots/plot2_610000.html
visualisation_app/backend/uploads/disable/plots/plot2_620000.html
visualisation_app/backend/uploads/disable/plots/plot2_630000.html
visualisation_app/backend/uploads/disable/plots/plot2_640000.html
visualisation_app/backend/uploads/disable/plots/plot2_650000.html
visualisation_app/backend/uploads/disable/plots/plot2_660000.html
visualisation_app/backend/uploads/disable/plots/plot2_670000.html
visualisation_app/backend/uploads/disable/plots/plot2_680000.html
visualisation_app/backend/uploads/disable/plots/plot2_690000.html
visualisation_app/backend/uploads/disable/plots/plot2_70000.html
visualisation_app/backend/uploads/disable/plots/plot2_700000.html
visualisation_app/backend/uploads/disable/plots/plot2_710000.html
visualisation_app/backend/uploads/disable/plots/plot2_720000.html
visualisation_app/backend/uploads/disable/plots/plot2_730000.html
visualisation_app/backend/uploads/disable/plots/plot2_740000.html
visualisation_app/backend/uploads/disable/plots/plot2_750000.html
visualisation_app/backend/uploads/disable/plots/plot2_760000.html
visualisation_app/backend/uploads/disable/plots/plot2_770000.html
visualisation_app/backend/uploads/disable/plots/plot2_780000.html
visualisation_app/backend/uploads/disable/plots/plot2_790000.html
visualisation_app/backend/uploads/disable/plots/plot2_80000.html
visualisation_app/backend/uploads/disable/plots/plot2_800000.html
visualisation_app/backend/uploads/disable/plots/plot2_810000.html
visualisation_app/backend/uploads/disable/plots/plot2_820000.html
visualisation_app/backend/uploads/disable/plots/plot2_830000.html
visualisation_app/backend/uploads/disable/plots/plot2_850000.html
visualisation_app/backend/uploads/disable/plots/plot2_860000.html
visualisation_app/backend/uploads/disable/plots/plot2_870000.html
visualisation_app/backend/uploads/disable/plots/plot2_880000.html
visualisation_app/backend/uploads/disable/plots/plot2_890000.html
visualisation_app/backend/uploads/disable/plots/plot2_90000.html
visualisation_app/backend/uploads/disable/plots/plot2_900000.html
visualisation_app/backend/uploads/disable/plots/plot2_910000.html
visualisation_app/backend/uploads/disable/plots/plot2_920000.html
visualisation_app/backend/uploads/disable/plots/plot2_930000.html
visualisation_app/backend/uploads/disable/plots/plot2_940000.html
visualisation_app/backend/uploads/disable/plots/plot2_950000.html
visualisation_app/backend/uploads/disable/plots/plot2_960000.html
visualisation_app/backend/uploads/disable/plots/plot2_970000.html
visualisation_app/backend/uploads/disable/plots/plot2_980000.html
visualisation_app/backend/uploads/disable/plots/plot2_990000.html
visualisation_app/backend/scripts/export_vtk_all.py
visualisation_app/backend/uploads/no-network/plots/plot2_200000.html
visualisation_app/backend/uploads/no-network/plots/plot2_210000.html
visualisation_app/backend/uploads/no-network/plots/plot2_220000.html
visualisation_app/backend/uploads/no-network/plots/plot2_230000.html
visualisation_app/backend/uploads/no-network/plots/plot2_240000.html
visualisation_app/backend/uploads/no-network/plots/plot2_250000.html
visualisation_app/backend/uploads/no-network/plots/plot2_260000.html
visualisation_app/backend/uploads/no-network/plots/plot2_270000.html
visualisation_app/backend/uploads/no-network/plots/plot2_280000.html
visualisation_app/backend/uploads/no-network/plots/plot2_290000.html
visualisation_app/backend/uploads/no-network/plots/plot2_30000.html
visualisation_app/backend/uploads/no-network/plots/plot2_300000.html
visualisation_app/backend/uploads/no-network/plots/plot2_310000.html
visualisation_app/backend/uploads/no-network/plots/plot2_320000.html
visualisation_app/backend/uploads/no-network/plots/plot2_330000.html
visualisation_app/backend/uploads/no-network/plots/plot2_340000.html
visualisation_app/backend/uploads/no-network/plots/plot2_350000.html
visualisation_app/backend/uploads/no-network/plots/plot2_360000.html
visualisation_app/backend/uploads/no-network/plots/plot2_370000.html
visualisation_app/backend/uploads/no-network/plots/plot2_380000.html
visualisation_app/backend/uploads/no-network/plots/plot2_390000.html
visualisation_app/backend/uploads/no-network/plots/plot2_40000.html
visualisation_app/backend/uploads/no-network/plots/plot2_400000.html
visualisation_app/backend/uploads/no-network/plots/plot2_410000.html
visualisation_app/backend/uploads/no-network/plots/plot2_420000.html
visualisation_app/backend/uploads/no-network/plots/plot2_430000.html
visualisation_app/backend/uploads/no-network/plots/plot2_440000.html
visualisation_app/backend/uploads/no-network/plots/plot2_450000.html
visualisation_app/backend/uploads/no-network/plots/plot2_460000.html
visualisation_app/backend/uploads/no-network/plots/plot2_470000.html
visualisation_app/backend/uploads/no-network/plots/plot2_480000.html
visualisation_app/backend/uploads/no-network/plots/plot2_490000.html
visualisation_app/backend/uploads/no-network/plots/plot2_50000.html
visualisation_app/backend/uploads/no-network/plots/plot2_500000.html
visualisation_app/backend/uploads/no-network/plots/plot2_510000.html
visualisation_app/backend/uploads/no-network/plots/plot2_520000.html
visualisation_app/backend/uploads/no-network/plots/plot2_530000.html
visualisation_app/backend/uploads/no-network/plots/plot2_540000.html
visualisation_app/backend/uploads/no-network/plots/plot2_550000.html
visualisation_app/backend/uploads/no-network/plots/plot2_560000.html
visualisation_app/backend/uploads/no-network/plots/plot2_570000.html
visualisation_app/backend/uploads/no-network/plots/plot2_580000.html
visualisation_app/backend/uploads/no-network/plots/plot2_590000.html
visualisation_app/backend/uploads/no-network/plots/plot2_60000.html
visualisation_app/backend/uploads/no-network/plots/plot2_600000.html
visualisation_app/backend/uploads/no-network/plots/plot2_610000.html
visualisation_app/backend/uploads/no-network/plots/plot2_620000.html
visualisation_app/backend/uploads/no-network/plots/plot2_630000.html
visualisation_app/backend/uploads/no-network/plots/plot2_640000.html
visualisation_app/backend/uploads/no-network/plots/plot2_650000.html
visualisation_app/backend/uploads/no-network/plots/plot2_660000.html
visualisation_app/backend/uploads/no-network/plots/plot2_670000.html
visualisation_app/backend/uploads/no-network/plots/plot2_680000.html
visualisation_app/backend/uploads/no-network/plots/plot2_690000.html
visualisation_app/backend/uploads/no-network/plots/plot2_70000.html
visualisation_app/backend/uploads/no-network/plots/plot2_700000.html
visualisation_app/backend/uploads/no-network/plots/plot2_710000.html
visualisation_app/backend/uploads/no-network/plots/plot2_720000.html
visualisation_app/backend/uploads/no-network/plots/plot2_730000.html
visualisation_app/backend/uploads/no-network/plots/plot2_740000.html
visualisation_app/backend/uploads/no-network/plots/plot2_750000.html
visualisation_app/backend/uploads/no-network/plots/plot2_760000.html
visualisation_app/backend/uploads/no-network/plots/plot2_770000.html
visualisation_app/backend/uploads/no-network/plots/plot2_780000.html
visualisation_app/backend/uploads/no-network/plots/plot2_790000.html
visualisation_app/backend/uploads/no-network/plots/plot2_80000.html
visualisation_app/backend/uploads/no-network/plots/plot2_800000.html
visualisation_app/backend/uploads/no-network/plots/plot2_810000.html
visualisation_app/backend/uploads/no-network/plots/plot2_820000.html
visualisation_app/backend/uploads/no-network/plots/plot2_830000.html
visualisation_app/backend/uploads/no-network/plots/plot2_840000.html
visualisation_app/backend/uploads/no-network/plots/plot2_850000.html
visualisation_app/backend/uploads/no-network/plots/plot2_860000.html
visualisation_app/backend/uploads/no-network/plots/plot2_870000.html
visualisation_app/backend/uploads/no-network/plots/plot2_880000.html
visualisation_app/backend/uploads/no-network/plots/plot2_890000.html
visualisation_app/backend/uploads/no-network/plots/plot2_90000.html
visualisation_app/backend/uploads/no-network/plots/plot2_900000.html
visualisation_app/backend/uploads/no-network/plots/plot2_910000.html
visualisation_app/backend/uploads/no-network/plots/plot2_920000.html
visualisation_app/backend/uploads/no-network/plots/plot2_930000.html
visualisation_app/backend/uploads/no-network/plots/plot2_940000.html
visualisation_app/backend/uploads/no-network/plots/plot2_950000.html
visualisation_app/backend/uploads/no-network/plots/plot2_960000.html
visualisation_app/backend/uploads/no-network/plots/plot2_970000.html
visualisation_app/backend/uploads/no-network/plots/plot2_980000.html
visualisation_app/backend/uploads/no-network/plots/plot2_990000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_210000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_220000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_230000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_240000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_250000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_260000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_270000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_280000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_290000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_30000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_300000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_310000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_320000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_330000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_340000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_350000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_360000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_370000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_380000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_390000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_40000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_400000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_410000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_420000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_430000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_440000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_450000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_460000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_470000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_480000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_490000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_50000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_500000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_510000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_520000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_530000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_540000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_550000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_560000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_570000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_580000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_590000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_60000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_600000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_610000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_620000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_630000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_640000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_650000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_660000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_670000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_680000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_690000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_70000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_700000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_710000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_720000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_730000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_740000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_750000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_760000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_770000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_80000.html
visualisation_app/backend/uploads/stimulus/plots/plot2_90000.html
/visualisation_app/venv
visualisation_app/frontend/.DS_Store
.DS_Store
visualisation_app/.DS_Store
visualisation_app/backend/.DS_Store
